.title-wrapper {
  color: white;
  text-align: center;
  padding-block: 2rem;
}

.title-wrapper h1 {
  /* position: relative; */
  /* top: 2.65rem; */
  padding-top: 3.7rem;
  font-size: 1.73rem;
  line-height: 1.31;
  margin-bottom: 1.45rem;
}

.title-wrapper p {
  letter-spacing: 0.13px;
  line-height: 1.61;
  margin-bottom: 1.85rem;
}
