.main-app {
  display: grid;
  min-height: 100vh;
  padding-inline: 1.5rem;
  background-color: rgb(var(--clr-red));
}

@media (min-width: 45rem) {
  .main-app {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    gap: 2rem;
  }

  .title-section {
    display: grid;
    align-items: center;
  }
}
