.App {
  background-color: rgb(var(--clr-red));
  min-height: 100vh;
  padding-inline: 1.5rem;
  /* grid-template-rows: 1fr 1fr; */
}

@media (min-width: 45rem) {
  .App {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
